body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    max-width: max-content;
}

:root{
    --line_color : #555555 ;
    --back_color : #39d7ff  ;

    --accent_color : var(--back_color);
    --accent_blue : #012E6A;
}